<% content_for :side do %>
<h3>Reports</h3>
<ul>
<% @transactions_by_year.keys.sort.reverse.each do |key| %>
<li>
<%= link_to_unless_current key, labels_path(:year => key) %>
</li>
<% end %>
</ul>
<% end %>

<h1>Report <%= @year %></h1>

<h3>Current Account</h3>

<p>
<b>Opening Balance:</b> 
<% opening = @transactions.first.balance.previous.balance %>
<%= money opening %>
</p>

<p>
<b>Closing Balance:</b> 
<% closing = @transactions.last.balance.balance %>
<%= money closing %>
</p>
<p>

<p>
<b>Movement:</b> 
<% movement = closing - opening %>
<%= money movement %>
</p>

<% transactions_by_sign = @transactions.group_by(&:sign) %>
<table>
<% "+-".chars.each do |sign| %>
  <% transactions = transactions_by_sign[sign] %>
  <% labels = transactions.map(&:labels).sum %>
  <th colspan="2"><%= sign %></th>
  <% labels.group_by(&:category).each do |cat, labels_cat| %>
  <tr><th align="left"><%= link_to cat, category_path(cat, :year => @year) %>:</th><td align="right"><%= money labels_cat.map(&:amount).sum %></td></tr>
  <% end %>
  <tr><th align="left">Missing:</th><td align="right"><%= money (transactions.map(&:amount).sum - labels.map(&:amount).sum) %></td></tr>
  <tr><th align="left">Sum:</th><td align="right"><%= money transactions.map(&:amount).sum %></td></tr>
<% end %>
</table>

<p>
<b>Total:</b> 
<% total = @transactions.map(&:amount).sum %>
<%= money total %>
</p>

<p>
<b>Error:</b> 
<%= money movement - total %>
</p>


