<% content_for :side do %>
<h4><%= link_to 'Transactions', transactions_path(:year => @year) %></h4>
<h4><%= link_to 'Balances', balances_path(:year => @year) %></h4>
<h4><%= link_to 'Subscriptions', subscriptions_path(:year => @year) %></h4>
<h4><%= link_to 'Conferences', conferences_path(:year => @year) %></h4>

<h3>Reports</h3>
<ul>
<% @transactions_by_year.keys.sort.reverse.each do |key| %>
<li>
<%= link_to_unless_current key, labels_path(:year => key) %>
</li>
<% end %>
</ul>
<% end %>

<h1>Report <%= @year %></h1>

<h3>Current Account</h3>
<% opening = @transactions.first.balance.previous.balance %>
<% closing = @transactions.last.balance.balance %>
<% movement = closing - opening %>
<% labels_by_sign = @labels.group_by(&:sign) %>
<% total = @labels.map(&:amount).sum %>
<% error = movement - total %>
<table>
  <tr>
    <th align="left">Opening Balance <%= @transactions.first.balance.previous.date %>:</th> 
    <td align="right"><%= money opening %></td>
  </tr>
  <tr>
    <th align="left">Closing Balance <%= @transactions.last.date %>:</th> 
    <td align="right"><%= money closing %></td>
  </tr>
  <tr>
    <th align="left">Movement:</th>
    <td align="right"><%= money movement %><td>
  </tr>
  <% "+-".chars.each do |sign| %>
    <% labels = labels_by_sign[sign] || [] %>
    <th colspan="2"><%= sign %></th>
    <% labels.group_by(&:category).sort_by { |k,v| k.rank }.each do |cat, labels_cat| %>
      <tr>
        <th align="left"><%= link_to cat, category_path(cat, :year => @year) %>:</th>
        <td align="right"><%= money labels_cat.map(&:amount).sum %></td>
      </tr>
    <% end %>
    <tr>
      <th align="left">Sum:</th>
      <td align="right"><%= money labels.map(&:amount).sum %></td>
    </tr>
  <% end %>
  <tr><td>&nbsp;</td></tr>
  <tr>
    <th align="left">(Total:</th> 
    <td align="right"><%= money total %>)</td>
  </tr>
  <tr>
    <th align="left">(Error:</th> 
    <td align="right"><%= money error %>)</td>
  </tr>
</table>


