<h3>Labels</h3>

<h1>
  <%= @label.category %>
</h1>

<p>
  <b>Amount:</b>
  <%= money(@label.amount) %>
</p>

<p>
  <b>Transaction:</b>
  <%= money(@label.transaction.amount) %>:
  <%= @label.transaction.text %>
</p>


<%= link_to 'Edit', edit_label_path(@label) %> |
<%= link_to 'Destroy', @label, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', @label.transaction %>
