<p id="notice"><%= notice %></p>

<p>
  <b>Amount:</b>
  <%= @label.amount %>
</p>

<p>
  <b>Transaction:</b>
  <%= @label.transaction_id %>
</p>

<p>
  <b>Category:</b>
  <%= @label.category_id %>
</p>


<%= link_to 'Edit', edit_label_path(@label) %> |
<%= link_to 'Back', labels_path %>
