<h3>Labels</h3>

<h1>
  <%= @label.category %>
</h1>

<p>
  <b>Amount:</b>
  <%= money(@label.amount) %>
</p>

<p>
  <b>Transaction:</b>
  <%= money(@label.transaction.amount) %>:
  <%= @label.transaction.text %>
</p>


<% if can? :update, @label %>
  <%= link_to 'Edit', edit_label_path(@label) %> |
<% end %>
<% if can? :destroy, @label %>
  <%= link_to 'Destroy', @label, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', @label.transaction %>
