<%= form_for(@conference) do |f| %>
  <% if @conference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conference.errors.count, "error") %> prohibited this conference from being saved:</h2>

      <ul>
      <% @conference.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :call %><br />
    <%= f.text_field :call %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :host %><br />
    <%= f.text_field :host %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :length %><br />
    <%= f.number_field :length %> days
  </div>
  <div class="field">
    <%= f.label :applicant %><br />
    <%= f.text_field :applicant %>
  </div>
  <div class="field">
    <%= f.label :received_on %><br />
    <%= f.date_select :received_on %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :cols => 80 %>
  </div>
  <div class="field">
    <%= f.label :document_url %><br />
    <%= f.text_field :document_url %>
  </div>
  <div class="field">
    <%= f.label :funding %><br />
    <%= f.number_field :funding %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
