<h1>Conferences</h1>

<% @conferences.each.with_index(1) do |conference, index| %>
<h4>
  <%= index %>.
  <%= link_to conference.name, conference %>
  (<%= conference.host %>, <%= conference.dates %>)
</h4>
Applicant:    <%= conference.applicant %>
<p>    
  <%= markdown conference.description.truncate(400) %>
  <%= link_to '[more ...]', conference %>
</p>
Funding:    <%= conference.funding %>
<hr />
<% end %>


<br />

<%= link_to 'New Conference', new_conference_path if can? :create, Member %>
