<% content_for :side do %>
<h3>Calls</h3>
<ul>
<% @conferences_by_call.keys.sort.reverse.each do |key| %>
<li>
<%= link_to_unless_current key, conferences_path(:call => key) %>
</li>
<% end %>
</ul>
<% end %>

<h3><%= @call %></h3>
<h1>Conference Support</h1>

<% funded = @conferences.select { |x| x.funding && x.funding > 0 } %>

<% if funded.present? %>
<h2>Funded</h2>
<p>
<% funded.each do |conference| %>
<%= link_to conference.name, conference.conference_url %>,
<%= dates_in_words(conference.first_day, conference.last_day) %>,
<%= conference.host %>:
<%= conference.funding %>.- Euro.
<br />
<% end %>
</p>
<% end %>

<% @conferences.each.with_index(1) do |conference, index| %>
<hr />
<h2 style="display: inline;">
  <%= index %>.
  <%= link_to conference.name, conference %>
</h2>
<br />
<%= conference.host %>, <%= conference.dates %>
<br />
<b>Applicant:</b>    <%= conference.applicant %>
  (received on:  <%= conference.received_on %>)
<div style="background-color: #E6F5F5;">
  <%= conference.description.truncate(400, :separator => ' ', :omission => ' ') %>
<%= link_to '[more...]', conference %>
</div>
<b>Funding:</b>    <%= conference.funding %>
<% end %>


<hr />

<%= link_to 'New Conference', new_conference_path if can? :create, Member %>
