<h1>Conference Support</h1>

<b>Call:</b> <%= @call %>

<% @conferences.each.with_index(1) do |conference, index| %>
<hr />
<h2 style="display: inline;">
  <%= index %>.
  <%= link_to conference.name, conference %>
</h2>
<br />
<%= conference.host %>, <%= conference.dates %>
<br />
<b>Applicant:</b>    <%= conference.applicant %>
  (received on:  <%= conference.received_on %>)
<div style="background-color: #E6F5F5;">
  <%= conference.description.truncate(400, :separator => ' ', :omission => ' ') %>
<%= link_to '[more...]', conference %>
</div>
<b>Funding:</b>    <%= conference.funding %>
<% end %>


<hr />

<%= link_to 'New Conference', new_conference_path if can? :create, Member %>
