<h3>
  <%= @conference.call %>
</h3>

<h1>
  <%= @conference.name %>
</h1>

<p>
  <%= @conference.host %>, 
  <%= @conference.dates %>
</p>

<p>
  <b>Applicant:</b>
  <%= @conference.applicant %>
</p>

<p>
  <b>Description:</b>
  <%= @conference.description %>
</p>

<p>
  <b>Funding:</b>
  <%= @conference.funding %>
</p>


<%= link_to 'Edit', edit_conference_path(@conference) %> |
<%= link_to 'Destroy', @conference, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', conferences_path %>
