<% content_for :side do %>
<h3>Conference Support</h3>
  <ol>
    <% Conference.all.each do |c| %>
    <li><%= link_to_unless_current c.name, c %></li>
    <% end %>
  </ol>
<% end %>

<h3>
  <%= @conference.call %>
</h3>

<h1>
  <%= @conference.name %>
</h1>

<p>
  <%= @conference.host %>, 
  <%= @conference.dates %>
</p>

<p>
  <b>Applicant:</b>
  <%= @conference.applicant %>
  (<code><%= @conference.email %><code>),
  received on: <%= @conference.received_on %>.
</p>

<div style="background-color: #E6F5F5;">
  <%= markdown @conference.description %>
</div>

<% if @conference.document_url.present? %>
  <b>&rsaquo;</b> <%= link_to 'Additional Documentation', root_path + "conferences/" + @conference.document_url %>
<% end %>

<p>
  <b>Funding:</b>
  <%= @conference.funding %>
</p>

<% if can? :edit, @member %>
<%= link_to 'Edit', edit_conference_path(@conference) %> |
<% end %>
<% if can? :destroy, @member %>
<%= link_to 'Destroy', @conference, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', conferences_path %>
