<% call = @conference.call %>
<% conferences_by_call = Conference.all.group_by(&:call) %>

<% content_for :side do %>
<h3>Conference Support</h3>
<h4><%= call %></h4>
  <ol>
    <% Conference.where(:call => call).each do |c| %>
    <li><%= link_to_unless_current c.name, c %></li>
    <% end %>
  </ol>

<% Conference.uniq.pluck(:call).sort.reverse.each do |key| %>
<% if key != call %>
<h4><%= link_to key, conferences_path(:call => key) %></h4>
<% end %>
<% end %>
<% end %>

<h3>
  <%= call %>
</h3>

<h1>
  <%= link_to_if @conference.conference_url.present?, @conference.name, @conference.conference_url %>
</h1>

<p>
  <%= @conference.host %>, 
  <%= @conference.dates %>
</p>

<p>
  <b>Applicant:</b>
  <%=  mail_to @conference.email, @conference.applicant %>,
  received on: <%= @conference.received_on %>.
</p>

<div style="background-color: #E6F5F5;">
  <%= markdown @conference.description %>
</div>

<% if @conference.document_url.present? %>
  <b>&rsaquo;</b> <%= link_to 'Additional Documentation', root_path + "conferences/" + @conference.document_url %>
<% end %>

<p>
  <b>Funding requested:</b>
    <%= @conference.request %>.- Euro.
<% if @conference.funding %>
  <b>Funding approved:</b>
    <%= @conference.funding %>.- Euro.
<% @conference.transactions.each do |transaction| %>
  <%= link_to transaction.date, transaction %>
<% end %>
<% end %>
</p>

<% if can? :edit, @conference %>
<%= link_to 'Edit', edit_conference_path(@conference) %> |
<% end %>
<% if can? :destroy, @conference %>
<% if @conference.funding %>
<% if @conference.funding > 0 %>
<%= mail_to @conference.email, 'Approve', :subject => 'Re: IMS conference funding', :cc => 'ims-committee@maths.tcd.ie', :body => @conference.approval_letter %> |
<% else %>
<%= mail_to @conference.email, 'Reject', :subject => 'Re: IMS conference funding', :cc => 'ims-committee@maths.tcd.ie', :body => @conference.rejection_letter %> |
<% end %>
<% end %>
<%= link_to 'Destroy', @conference, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', conferences_path %>
