<h1>Welcome ...</h1>
<p>
  ... to the world of the Irish Mathematical Society.
</p>

<p>
  From here you can access
  <ul>
<% if can? :read, Member %>
    <li>
      the <%= Member.count %> <%= link_to 'members', members_path %> of the IMS ...
    </li>
<% end %>
<% if can? :read, Conference %>
    <li>
      the <%= Conference.count %> <%= link_to 'conferences', conferences_path %> receiving funding from the IMS ...
    </li>
      <li>the <%= link_to 'website', 'http://www.maths.tcd.ie/pub/ims/' %> of the IMS </li>
<% end %>
  </ul> 
</p>
