<% content_for :side do %>
<h3>Balances</h3>
<ul>
<% @balances_by_year.keys.sort.reverse.each do |key| %>
<li>
<%= link_to_unless_current key, balances_path(:year => key) %>
</li>
<% end %>
</ul>
<% end %>

<h1>Balances <%= @year %></h1>

<table>
  <tr>
    <th>Date</th>
    <th>Balance</th>
    <th>Previous</th>
    <th>Amount</th>
    <th>Error</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @balances.each do |balance| %>
  <tr>
    <td><%= balance.date %></td>
    <td align="right"><%= money(balance.balance) %></td>
    <td align="right"><%= money(balance.previous.balance) if balance.previous %></td>
    <td align="right"><%= money(balance.amount) %></td>
<% if balance.error != 0 %>
    <td align="right" style="color: red;"><%= money(balance.error) %></td>
<% else %>
    <td align="right"><%= money(balance.error) %></td>
<% end %>
    <td><%= link_to 'Show', balance %></td>
    <td><%= link_to 'Edit', edit_balance_path(balance) %></td>
    <td><%= link_to 'Destroy', balance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Balance', new_balance_path %>
