<h3>
  Balance
  <%= link_to '<', @balance.previous %>
  <%= link_to('>', @balance.next) if @balance.next %>
</h3>
<h1>
  <%= @balance.date %>
</h1>

<p>
  <b>Balance:</b>
  <%= money(@balance.balance) %>
</p>

<p>
  <b>Previous:</b>
  <%= money(@balance.previous.balance) %>
</p>

<p>
  <b>Amount:</b>
  <%= money(@balance.amount) %>
</p>

<p>
  <b>Categorized:</b>
  <%= money(@balance.categorized) %>
</p>

<% if @balance.error != 0 %>
<p style="color: red;">
  <b>Error:</b>
  <%= money(@balance.error) %>
</p>
<% end %>

<table>
  <tr>
    <th>Date</th>
    <th>Text</th>
    <th>Amount</th>
    <th>Error</th>
    <th></th>
  </tr>

<% @balance.transactions.each do |transaction| %>
  <tr>
    <td><%= link_to transaction.date, transaction %></td>
    <td><%= link_to transaction.text, transaction %></td>
    <td align="right"><%= number_to_currency transaction.amount/100.0, :format => "%n %u", :unit => "EUR" %></td>
    <td style="color: red;">
      <% if transaction.error != 0 %>
        <%= money(transaction.error) %>
      <% end %>
    </td>
    <td>
      <% transaction.subscriptions.first(5).each do |subscription| %>
        <%= link_to subscription.member.number, subscription.member %>
      <% end %>
      <% if transaction.subscriptions.count > 5 %>
        <%= link_to '...', transaction %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>



<%= link_to 'Edit', edit_balance_path(@balance) %> |
<%= link_to 'Destroy', @balance, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', balances_path(:year => @balance.date.year) %>
