<%= form_for(@subscription) do |f| %>
  <% if @subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% @subscription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :transaction_id %>

<p>
  <b>Text:</b>
  <%= @subscription.transaction.text %>
</p>

<p>
  <b>Amount:</b>
  <%= money @subscription.transaction.amount %>
</p>


  <div class="field">
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label :member_id %><br />
    <%= f.select :member_id, Member.all.map { |x| [x.to_s + " " + x.number, x.id] }, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.number_field :value %>
    <%= f.select :currency, Subscription::CURRENCIES %>
  </div>
  <div class="field">
    <%= f.label :payment %><br />
    <%= f.number_field :payment %>
  </div>
  <div class="field">
    <%= f.label :paid_on %><br />
    <%= f.date_select :paid_on %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
