<% content_for :side do %>
<h3>Subscriptions</h3>
<ul>
<% @subscriptions_by_year.keys.sort.reverse.each do |key| %>
<li>
<%= link_to_unless_current key, subscriptions_path(:year => key) %>
</li>
<% end %>
</ul>
<% end %>

<h1>Subscriptions <%= @year %></h1>

<b>Total:</b> EUR <%= money @subscriptions.map(&:payment).sum %>

<table>
  <tr>
    <th>Date</th>
    <th>Member</th>
    <th>Value</th>
    <th>Payment</th>
  </tr>

<% @subscriptions.each do |subscription| %>
  <tr>
    <td><%= link_to subscription.transaction.date, subscription.transaction %></td>
    <td><%= link_to subscription.member.number, subscription.member %></td>
    <td align="right"><%= subscription.currency %> <%= money(subscription.value) %></td>
    <td align="right"><%= money(subscription.payment) %></td>
  </tr>
<% end %>
</table>

