<% content_for :side do %>
<h3>Subscriptions</h3>
<ul>
<% @subscriptions_by_year.keys.sort.reverse.each do |key| %>
<li>
<%= link_to_unless_current key, subscriptions_path(:year => key) %>
</li>
<% end %>
</ul>
<% end %>

<h1>Subscriptions <%= @year %></h1>

<b>Total:</b> EUR <%= money @subscriptions.map(&:payment).sum %>
<% if @year.to_i.to_s == @year %>
<b>Arrears:</b> EUR <%= money Member.where(:status => %w{C R O S I}).map { |x| x.arrears(@year.to_i) }.sum %>
<% end %>

<table>
  <tr>
    <th>Date</th>
    <th>Member</th>
    <th>Value</th>
    <th>Payment</th>
  </tr>

<% @subscriptions.each do |subscription| %>
  <tr>
    <td><%= link_to subscription.transaction.date, subscription.transaction %></td>
    <td><%= link_to subscription.member.number, subscription.member %></td>
    <td align="right"><%= subscription.currency %> <%= money(subscription.value) %></td>
    <td align="right"><%= money(subscription.payment) %></td>
  </tr>
<% end %>
</table>

<% if @year.to_i.to_s == @year %>
<h2>Arrears <%= @year %></h2>
<table>
<tr>
  <th>Member</th>
  <th>Amount</th>
</tr>
<% Member.where(:status => %w{C R O S I}).each do |member| %>
<% arrears = member.arrears(@year.to_i) %>
<% if arrears != 0 %>
<tr>
  <td><%= link_to member.number, member %></td>
  <td><%= money(arrears) %></td>
</tr>
<% end %>
<% end %>
</table>
<% end %>
