<h3>IMS Subscription</h3>
<h1>
  <%= @subscription.year %>
</h1>

<p>
  <b>Member:</b>
  <%= @subscription.member.fullname %> 
(#<%= link_to @subscription.member.number, @subscription.member %>)
</p>

<p>
  <b>Value:</b>
  <%= @subscription.currency %>
  <%= money @subscription.value %>
</p>

<p>
EUR 
<%= money @subscription.payment %>
paid on
<%= link_to @subscription.paid_on, @subscription.transaction %>.
</p>

<% if can? :update, @subscription %>
  <%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<% end %>
<% if can? :destroy, @subscription %>
  <%= link_to 'Destroy', @subscription, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', subscriptions_path %>
