<h3>IMS Subscription</h3>
<h1>
  <%= @subscription.year %>
</h1>

<p>
  <b>Member:</b>
  <%= @subscription.member.fullname %> 
(#<%= link_to @subscription.member.number, @subscription.member %>)
</p>

<p>
  <b>Value:</b>
  <%= @subscription.currency %>
  <%= money @subscription.value %>
</p>

<p>
EUR 
<%= money @subscription.payment %>
paid on
<%= link_to @subscription.paid_on, @subscription.transaction %>.
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= mail_to @subscription.member.email, 'Confirm', :subject => "Receipt: IMS subscription ##{@subscription.member.number}", :cc => 'subscriptions.ims@gmail.com', :body => @subscription.payment_confirmation %> |
<%= link_to 'Destroy', @subscription, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', subscriptions_path %>
