<h3>Categories <%= @year %></h3>

<h1><%= @category.name %></h1>

<p>
  <b>Description:</b>
  <%= @category.description %> 
</p>

<% if @year %>
  <%= render partial: 'labels', object: @labels %>
<% else %>
  <% @labels_by_year.sort.each do |year, labels| %>
  <h3><%= year %></h3>
    <%= render partial: 'labels', object: labels %>
  <% end %>
  <p>
    <b>Sum:</b>
    <%= money @category.amount %> 
  </p>
<% end %>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Destroy', @category, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', categories_path %>
