  <b>Subscriptions: <%= link_to '[+]', new_subscription_path(:transaction_id => transaction) %></b>
      <% transaction.subscriptions.each do |subscription| %>
        <%= link_to subscription.member.number, subscription.member %>
      <% end %>
<% if transaction.subscriptions.any? %>
      <table>
	<tr>
	  <th>Member</th>
	  <th>#</th>
	  <th>Year</th>
	  <th>Value</th>
	  <th>Payment</th>
	</tr>
      <% transaction.subscriptions.each do |subscription| %>
<tr>
  <td><%= subscription.member %></td>
  <td><%= link_to subscription.member.number, subscription.member %></td>
  <td><%= link_to subscription.year, subscription %></td>
  <td align="right"><%= subscription.currency %> <%= money subscription.value %></td>
  <td align="right"><%= money subscription.payment %></td>
</tr>
      <% end %>
      <tr><th>Sum:</th>
	<td></td>
	<td></td>
	<td></td>
	<td align="right"><%= money transaction.subscriptions.map(&:payment).sum %></td>
</tr>
</table>
<% end %>
