<% content_for :side do %>
<h3>Transactions</h3>
<ul>
<% @transactions_by_year.keys.sort.reverse.each do |key| %>
<li>
<%= link_to_unless_current key, transactions_path(:year => key) %>
</li>
<% end %>
</ul>
<% end %>

<h1>Transactions <%= @year %></h1>

<table>
  <tr>
    <th>Date</th>
    <th>Text</th>
    <th>Amount</th>
    <th></th>
  </tr>

<% @transactions.each do |transaction| %>
  <tr>
    <td><%= link_to transaction.date, transaction %></td>
    <td><%= link_to transaction.text, transaction %></td>
    <td align="right"><%= number_to_currency transaction.amount/100.0, :format => "%n %u", :unit => "EUR" %></td>
    <td>
      <% transaction.subscriptions.first(5).each do |subscription| %>
        <%= link_to subscription.member.number, subscription.member %>
      <% end %>
      <% if transaction.subscriptions.count > 5 %>
        <%= link_to '...', transaction %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Transaction', new_transaction_path %>
