<%= form_for(@doctorate) do |f| %>
  <% if @doctorate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctorate.errors.count, "error") %> prohibited this doctorate from being saved:</h2>

      <ul>
      <% @doctorate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
  <tr>
    <td><%= f.label :first %></td>
    <td><%= f.text_field :first %></td>
  </tr>
  <tr>
    <td><%= f.label :last %></td>
    <td><%= f.text_field :last %></td>
  </tr>
  <tr>
    <td><%= f.label :title %></td>
    <td><%= f.text_field :title %></td>
  </tr>
  <tr>
    <td><%= f.label :university %></td>
    <td><%= f.text_field :university %></td>
  </tr>
  <tr>
    <td><%= f.label :year %></td>
    <td><%= f.number_field :year %></td>
  </tr>
  <tr>
    <td><%= f.label :thesis %></td>
    <td><%= f.text_field :thesis %></td>
  </tr>
  <tr>
    <td><%= f.label :advisor %></td>
    <td><%= f.text_field :advisor %></td>
  </tr>
  <tr>
    <td><%= f.label :msc, 'MSC' %></td>
    <td><%= f.text_field :msc %></td>
  </tr>
  <tr>
    <td><%= f.label :genealogy_id %></td>
    <td><%= f.number_field :genealogy_id %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= f.submit %></td>
  </tr>
</table>
<% end %>
