<% @doctorates.group_by(&:university).each do |university, doctorates_by_uni| %>
<h2><%= university %> (<%= doctorates_by_uni.count %>)</h2>
<% doctorates_by_uni.sort_by! { |d| d.year || 0 }.group_by(&:year).each do |year, doctorates| %>
<div class="year"><%= year %></div>
<ul class="year-list">
<% doctorates.each do |doctorate| %>
<li>
<%= link_to doctorate.last_first, doctorate %>
</li>
<% end %>
</ul>
<% end %>
<% end %>

<br />

<%= link_to 'New Doctorate', new_doctorate_path %>
