<h3>Doctorates</h3>

<h1><%= @doctorate.first_last %>, <%= @doctorate.title %></h1>

<h2><%= @doctorate.thesis %></h2>

<p><b>MSC:</b> <%= @doctorate.msc %></p>

<p>
  <%= @doctorate.university %>, 
  <%= @doctorate.year %>
</p>

<p>
  <b>Advisor:</b>
  <%= @doctorate.advisor %>
</p>


<p>
  <b>Genealogy:</b>
  <%= link_to @doctorate.genealogy_id, @doctorate.genealogy_url %>
</p>


<%= link_to 'Edit', edit_doctorate_path(@doctorate) %> |
<%= link_to 'Back', doctorates_path %>
