<!DOCTYPE html>
<html>
<head>
  <title>IMS</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="banner">
Irish Mathematical Society
</div>
<div id="navigation">
<div id="home"> 
<%= link_to 'Home', root_path %>
<% if can? :read, Member %> 
| <%= link_to 'Members', members_path %>
<% end %>
<% if can? :read, Conference %> 
| <%= link_to 'Conferences', conferences_path %> 
<% end %>
<% if can? :read, Doctorate %> 
| <%= link_to 'Doctorates', doctorates_path %> 
<% end %>
<% if can? :read, Transaction %> 
| <%= link_to 'Transactions', transactions_path %> 
<% end %>
</div>
<div id="login">
  <% if user_signed_in? %>
    <%= link_to current_user.email, edit_user_registration_path %> |
    <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, :confirm => "Sign out?" %>
  <% else %>
    <%= link_to 'Sign in', new_user_session_path %>
  <% end %>
</div>
</div>
<div id="date" align="right">
<%= Time.now.strftime("%A, %B %-d,  %Y. %H:%M:%S.") %>
</div>
<div id="columns">
<div id="side">
<%= yield :side %>
</div>
<div id="container">
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<%= yield %>

</div>
</div>

</body>
</html>
