<h1>Members</h1>

<% members_by_first = @members.group_by { |m| m.surname[0] } %>

<p>|
<% members_by_first.each_key do |key| %>
<%= link_to(key, :anchor => key) %> |
<% end %>
</p>

<table>
  <% members_by_first.each do |key, members| %>
    <% members.each do |member| %>
      <tr>
        <td align="right"><%= member.number %></td>
        <td><%= { 'yes' => '+', 'no' => '' }[member.bulletin] %></td>
        <td><%= link_to member.name, member %></td>
        <td style="font-family: monospace;"><%= mail_to member.email, member.email, :style => "text-decoration: none;" %></td>
        <td><%= link_to("", {}, :name => key) %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<br />

<%= link_to('New Member', new_member_path) if can? :create, Member %>
