<p id="notice"><%= notice %></p>

<p>
  <%= @member.number %>
</p>

<h2>
  <%= @member.name %>
</h2>

<p>
<pre>
  <%= @member.address %>
</pre>
</p>

<p>
  <b>Email:</b>
  <%= @member.email %>
</p>

<p>
  <b>Status:</b>
  <%= @member.status %>
</p>

<p>
  <b>Comment:</b>
  <%= @member.comment %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
