<p>
  <%= @member.number %>
  (<%= @member.status %>)
</p>

<h2>
  <%= @member.fullname %>
</h2>

<p>
  <code><%= @member.email %></code>
</p>

<div style="width: 24em;">
<pre style=""><%= @member.address %></pre>
</div>

<% institute = @member.institute %>
<% if institute %>
Nominated by <%= link_to institute.institutional_name, institute %>.
<% end %>

<% if @member.status == 'I' %>
<% nominees = @member.nominees %>
Student Nominees: [<%= link_to '+', new_member_path(:institute_id => @member) %>]
<ul>
<% nominees.each do |nominee| %>
<li><%= link_to nominee.name, nominee %></li>
<% end %>
</ul>
<% end %>

<% if @member.reciprocal.present? %>
<p><b>Other Society:</b> <%= @member.reciprocal %></p>
<% end %>
<p><b>Bulletin?</b> <%= @member.bulletin %></p>
<p><%= @member.comment %></p>

<% if can? :edit, @member %>
<%= link_to 'Edit', edit_member_path(@member) %> |
<% end %>
<% if can? :edit, @member %>
<%= link_to 'Invoice', subscriptions_path(:format => 'tex', :member_id => @member, :year => Date.today.year) %> |
<%= mail_to @member.email, 'Send', :subject => 'Renewal of institutional IMS membership', :cc => 'subscriptions.ims@gmail.com', :body => @member.invoice_subscription %> |
<%= mail_to @member.email, 'Remind', :subject => "Reminder: IMS subscription ##{@member.number}", :cc => 'subscriptions.ims@gmail.com', :body => @member.reminder_subscription %> |
<% end %>
<% if can? :destroy, @member %>
<%= link_to 'Destroy', @member, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', members_path %>

<% if can? :destroy, @member %>
<p><b>Subscriptions</b></p>
<table>
<% @member.subscriptions.sort_by(&:year).reverse.each do |subscription| %>
<tr>
  <td><%= link_to subscription.year, subscription %></td>
  <td><%= subscription.currency %> <%= money subscription.value %></td>
  <td><%= money subscription.payment %></td>
  <td><%= link_to subscription.paid_on, subscription.transaction %></td>
</tr>
<% end %>
</table>
<% end %>

