<p>
  <%= @member.number %>
  (<%= @member.status %>)
</p>

<h2>
  <%= @member.fullname %>
</h2>

<p>
  <code><%= @member.email %></code>
</p>

<div style="width: 24em;">
<pre style=""><%= @member.address %></pre>
</div>

<p><%= @member.comment %></p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Destroy', @member, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', members_path %>
