<p>
  <%= @member.number %>
  (<%= @member.status %>)
</p>

<h2>
  <%= @member.fullname %>
</h2>

<p>
  <code><%= @member.email %></code>
</p>

<div style="width: 24em;">
<pre style=""><%= @member.address %></pre>
</div>

<% institute = @member.institute %>
<% if institute %>
Nominated by <%= link_to institute.institutional_name, institute %>.
<% end %>

<% nominees = @member.nominees %>
<% if nominees %>
Student Nominees:
<ul>
<% nominees.each do |nominee| %>
<li><%= link_to nominee.name, nominee %></li>
<% end %>
</ul>
<% end %>

<% if @member.reciprocal.present? %>
<p><b>Other Society:</b> <%= @member.reciprocal %></p>
<% end %>
<p><b>Bulletin?</b> <%= @member.bulletin %></p>
<p><%= @member.comment %></p>

<% if can? :edit, @member %>
<%= link_to 'Edit', edit_member_path(@member) %> |
<% end %>
<% if can? :destroy, @member %>
<%= link_to 'Destroy', @member, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', members_path %>
